body {
    font-family: 'roboto';
    background-color:aqua;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3 {
    text-align:center;
}

article.productlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 120px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.product {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    padding: 25px;
    
}

.product img{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}


.product p {
    margin-bottom: 0px;    
}

.product .title {
    height: 80px;
    text-align: center;
}

.product .price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

main.singleproduct {
    padding: 50px 200px;
}

article.productmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 100px;
    border: 1px solid;

}

.productinfo {
    width: 50%;
}

input[type="number"]{
    width: 70px;
    height: 50px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.productinfo form {
        text-align: center;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}

.productinfo form * {
    margin: 0px 10px;
}



.productinfo form input[type="submit"] {
    height: 50px;
}


.productinfo > .price {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #fabada;
    display:flex;
    flex-wrap:wrap;
    position:sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: black;
}

header .top {
    width: 100%;
    text-align:right;
    padding: 15px;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

header .menu {
    width: 100%;
    padding: 15px;
}

.navbar {
    width: 100%;
}

.navul {
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-bottom:0px;
}

.menu-item {
    list-style: none;
    display:inline;
}

.d-flex {
    width: 50%;
    margin-left: 20px;
    margin: 0px auto;
}

i.fa-solid.fa-cart-shopping {
    margin: 0px 20px 0px 50px;
    font-size:25px;
}


.logout {
    text-transform: capitalize;
}

.addform {
    margin:auto;
    display: flex;
    align-items: center;
}

.addform input[type="number"] {
    margin: 0;
    margin-right: 5px;
    height: 35px;
}

main.history {
    width: 75%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.historyitem {
    width: 100%;
    display:flex;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

.historypic {
    width: 25%;
}

.historyinfo {
    width: 75%;
}

.item {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 20px 0px;
}

main.cart {
    padding: 50px 250px;
}

.totalprice {
    display: flex;
    align-items: center;
}

.totalprice p {
    font-size: 30px;
}

.totalprice input {
    font-size: 20px;
    margin-left: 50px;
    height: 75px;
    width: 150px;
}

.cartpic {
    width: 25%
}

@media screen and (max-width: 1550px) {
    article.productlist {
        grid-template-columns: repeat(2, 1fr);
    }            
}

@media screen and (max-width: 500px) {
    article.productlist {
        grid-template-columns: repeat(1, 1fr);
    }   
}