extends layout

block content 
    main
        h1.home_title Comprar cosas
        article.productlist
            each product in products
                a(href=`/product/${product.title}`) 
                    div.product
                        img(src=product.picture, alt="", srcset="")
                        p.title= product.title
                        p.price= product.price + '€'