html
  head    
    title Proyecto 
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
    link(rel="stylesheet" href="/css/style.css")
  body 
    nav  
        a(href="/") Home
        a(href="/login") Login
        a(href="/logout") Logout
    block content 

    script(type="module", src="js/index.js")
    block script