extends ../layout

block content 
    main.history
        each cart in carts 
            each cart_item in cart.cart_items 
                article.historyitem
                    div.historypic
                        img(src=`${cart_item.product.picture}`, alt="")
                    div.historyinfo
                        p= cart_item.product.title
                        p= "Total cost: " + cart_item.product.price + "€"
                        p= "Amount bough: " + cart_item.quantity